body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3e7294, #153448);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h1 {
    color: #333;
}

.progress-container {
    background: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    height: 10px;
}

.progress-bar {
    height: 10px;
    width: 0;
    background: linear-gradient(to right, #428cbd, #1f567b);
    transition: width 0.3s;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: linear-gradient(to right, #3e7294, #153448);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background: linear-gradient(to right, #346382, #0e2635);
    box-shadow: 0 0 15px #0e2635 ;
}
